   "oss_4C_train = pd.DataFrame(oss_4c_train, columns = ['쓴', '컬럼들', '다'])\n",

In [126]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [127]:
data = pd.read_csv('./accepted_2007_to_2018Q4.csv')
data.head(5)

C:\Users\user\AppData\Local\Temp\ipykernel_22676\62786924.py:1: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('./accepted_2007_to_2018Q4.csv')

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.00000,3600.00000,3600.00000,36 months,13.99000,123.03000,C,C4,leadman,10+ years,MORTGAGE,55000.00000,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,190xx,PA,5.91000,0.00000,Aug-2003,675.00000,679.00000,1.00000,30.00000,NaN,7.00000,0.00000,2765.00000,29.70000,13.00000,w,0.00000,0.00000,4421.72392,4421.72000,3600.00000,821.72000,0.00000,0.00000,0.00000,Jan-2019,122.67000,NaN,Mar-2019,564.00000,560.00000,0.00000,30.00000,1.00000,Individual,NaN,NaN,NaN,0.00000,722.00000,144904.00000,2.00000,2.00000,0.00000,1.00000,21.00000,4981.00000,36.00000,3.00000,3.00000,722.00000,34.00000,9300.00000,3.00000,1.00000,4.00000,4.00000,20701.00000,1506.00000,37.20000,0.00000,0.00000,148.00000,128.00000,3.00000,3.00000,1.00000,4.00000,69.00000,4.00000,69.00000,2.00000,2.00000,4.00000,2.00000,5.00000,3.00000,4.00000,9.00000,4.00000,7.00000,0.00000,0.00000,0.00000,3.00000,76.90000,0.00000,0.00000,0.00000,178050.00000,7746.00000,2400.00000,13734.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.00000,24700.00000,24700.00000,36 months,11.99000,820.28000,C,C1,Engineer,10+ years,MORTGAGE,65000.00000,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,Business,577xx,SD,16.06000,1.00000,Dec-1999,715.00000,719.00000,4.00000,6.00000,NaN,22.00000,0.00000,21470.00000,19.20000,38.00000,w,0.00000,0.00000,25679.66000,25679.66000,24700.00000,979.66000,0.00000,0.00000,0.00000,Jun-2016,926.35000,NaN,Mar-2019,699.00000,695.00000,0.00000,NaN,1.00000,Individual,NaN,NaN,NaN,0.00000,0.00000,204396.00000,1.00000,1.00000,0.00000,1.00000,19.00000,18005.00000,73.00000,2.00000,3.00000,6472.00000,29.00000,111800.00000,0.00000,0.00000,6.00000,4.00000,9733.00000,57830.00000,27.10000,0.00000,0.00000,113.00000,192.00000,2.00000,2.00000,4.00000,2.00000,NaN,0.00000,6.00000,0.00000,5.00000,5.00000,13.00000,17.00000,6.00000,20.00000,27.00000,5.00000,22.00000,0.00000,0.00000,0.00000,2.00000,97.40000,7.70000,0.00000,0.00000,314017.00000,39475.00000,79300.00000,24667.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.00000,20000.00000,20000.00000,60 months,10.78000,432.66000,B,B4,truck driver,10+ years,MORTGAGE,63000.00000,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,home_improvement,NaN,605xx,IL,10.78000,0.00000,Aug-2000,695.00000,699.00000,0.00000,NaN,NaN,6.00000,0.00000,7869.00000,56.20000,18.00000,w,0.00000,0.00000,22705.92429,22705.92000,20000.00000,2705.92000,0.00000,0.00000,0.00000,Jun-2017,15813.30000,NaN,Mar-2019,704.00000,700.00000,0.00000,NaN,1.00000,Joint App,71000.00000,13.85000,Not Verified,0.00000,0.00000,189699.00000,0.00000,1.00000,0.00000,4.00000,19.00000,10827.00000,73.00000,0.00000,2.00000,2081.00000,65.00000,14000.00000,2.00000,5.00000,1.00000,6.00000,31617.00000,2737.00000,55.90000,0.00000,0.00000,125.00000,184.00000,14.00000,14.00000,5.00000,101.00000,NaN,10.00000,NaN,0.00000,2.00000,3.00000,2.00000,4.00000,6.00000,4.00000,7.00000,3.00000,6.00000,0.00000,0.00000,0.00000,0.00000,100.00000,50.00000,0.00000,0.00000,218418.00000,18696.00000,6200.00000,14877.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.00000,35000.00000,35000.00000,60 months,14.85000,829.90000,C,C5,Information Systems Officer,10+ years,MORTGAGE,110000.00000,Source Verified,Dec-2015,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,076xx,NJ,17.06000,0.00000,Sep-2008,785.00000,789.00000,0.00000,NaN,NaN,13.00000,0.00000,7802.00000,11.60000,17.00000,w,15897.65000,15897.65000,31464.01000,31464.01000,19102.35000,12361.66000,0.00000,0.00000,0.00000,Feb-2019,829.90000,Apr-2019,Mar-2019,679.00000,675.00000,0.00000,NaN,1.00000,Individual,NaN,NaN,NaN,0.00000,0.00000,301500.00000,1.00000,1.00000,0.00000,1.00000,23.00000,12609.00000,70.00000,1.00000,1.00000,6987.00000,45.00000,67300.00000,0.00000,1.00000,0.00000,2.00000,23192.00000,54962.00000,12.10000,0.00000,0.00000,36.00000,87.00000,2.00000,2.00000,1.00000,2.00000,NaN,NaN,NaN,0.00000,4.00000,5.00000,8.00000,10.00000,2.00000,10.00000,13.00000,5.00000,13.00000,0.00000,0.00000,0.00000,1.00000,100.00000,0.00000,0.00000,0.00000,381215.00000,52226.00000,62500.00000,18000.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.00000,10400.00000,10400.00000,60 months,22.45000,289.91000,F,F1,Contract Specialist,3 years,MORTGAGE,104433.00000,Source Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,major_purchase,Major purchase,174xx,PA,25.37000,1.00000,Jun-1998,695.00000,699.00000,3.00000,12.00000,NaN,12.00000,0.00000,21929.00000,64.50000,35.00000,w,0.00000,0.00000,11740.50000,11740.50000,10400.00000,1340.50000,0.00000,0.00000,0.00000,Jul-2016,10128.96000,NaN,Mar-2018,704.00000,700.00000,0.00000,NaN,1.00000,Individual,NaN,NaN,NaN,0.00000,0.00000,331730.00000,1.00000,3.00000,0.00000,3.00000,14.00000,73839.00000,84.00000,4.00000,7.00000,9702.00000,78.00000,34000.00000,2.00000,1.00000,3.00000,10.00000,27644.00000,4567.00000,77.50000,0.00000,0.00000,128.00000,210.00000,4.00000,4.00000,6.00000,4.00000,12.00000,1.00000,12.00000,0.00000,4.00000,6.00000,5.00000,9.00000,10.00000,7.00000,19.00000,6.00000,12.00000,0.00000,0.00000,0.00000,4.00000,96.60000,60.00000,0.00000,0.00000,439570.00000,95768.00000,20300.00000,88097.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
columns_to_keep = ['loan_amnt','int_rate','installment','emp_title','emp_length','annual_inc','issue_d','loan_status','purpose','dti','earliest_cr_line','open_acc','pub_rec','revol_bal','revol_util','total_acc','mort_acc','pub_rec_bankruptcies','zip_code','addr_state', 'grade' , 'collections_12_mths_ex_med']

# 컬럼 제외하고 나머지 삭제
data.drop(columns=[col for col in data.columns if col not in columns_to_keep], inplace=True)

In [129]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260701 entries, 0 to 2260700
Data columns (total 22 columns):
 #   Column                      Dtype
---  ------                      -----
 0   loan_amnt                   float64
 1   int_rate                    float64
 2   installment                 float64
 3   grade                       object
 4   emp_title                   object
 5   emp_length                  object
 6   annual_inc                  float64
 7   issue_d                     object
 8   loan_status                 object
 9   purpose                     object
 10  zip_code                    object
 11  addr_state                  object
 12  dti                         float64
 13  earliest_cr_line            object
 14  open_acc                    float64
 15  pub_rec                     float64
 16  revol_bal                   float64
 17  revol_util                  float64
 18  total_acc                   float64
 19  collections_12_mths_ex_med  float64
 20  mort_acc                    float64
 21  pub_rec_bankruptcies        float64
dtypes: float64(13), object(9)
memory usage: 379.5+ MB

In [130]:
pd.options.display.float_format = '{:.5f}'.format

In [131]:
target = data['loan_status']

In [132]:
data['earliest_cr_line'].fillna(0)

0          Aug-2003
1          Dec-1999
2          Aug-2000
3          Sep-2008
4          Jun-1998
             ...
2260696    Feb-1995
2260697    Jul-1999
2260698    Jun-1996
2260699           0
2260700           0
Name: earliest_cr_line, Length: 2260701, dtype: object

In [133]:
emp_title_other = data['emp_title']
emp_title_other = emp_title_other.to_frame()
emp_title_other_ = emp_title_other.applymap(lambda x: 1 if pd.notnull(x) else x)
emp_title_other_.fillna(0 , inplace= True)
data['emp'] = emp_title_other_

In [134]:
data = data.drop('emp_title',  axis = 1)

In [135]:
data['loan_status'].value_counts()

Fully Paid                                             1076751
Current                                                 878317
Charged Off                                             268559
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
Name: loan_status, dtype: int64

## feature 삭제

In [136]:
data.drop('pub_rec_bankruptcies' , axis = 1 , inplace=True)
data.head(5)

,loan_amnt,int_rate,installment,grade,emp_length,annual_inc,issue_d,loan_status,purpose,zip_code,addr_state,dti,earliest_cr_line,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,mort_acc,emp
0,3600.00000,13.99000,123.03000,C,10+ years,55000.00000,Dec-2015,Fully Paid,debt_consolidation,190xx,PA,5.91000,Aug-2003,7.00000,0.00000,2765.00000,29.70000,13.00000,0.00000,1.00000,1.00000
1,24700.00000,11.99000,820.28000,C,10+ years,65000.00000,Dec-2015,Fully Paid,small_business,577xx,SD,16.06000,Dec-1999,22.00000,0.00000,21470.00000,19.20000,38.00000,0.00000,4.00000,1.00000
2,20000.00000,10.78000,432.66000,B,10+ years,63000.00000,Dec-2015,Fully Paid,home_improvement,605xx,IL,10.78000,Aug-2000,6.00000,0.00000,7869.00000,56.20000,18.00000,0.00000,5.00000,1.00000
3,35000.00000,14.85000,829.90000,C,10+ years,110000.00000,Dec-2015,Current,debt_consolidation,076xx,NJ,17.06000,Sep-2008,13.00000,0.00000,7802.00000,11.60000,17.00000,0.00000,1.00000,1.00000
4,10400.00000,22.45000,289.91000,F,3 years,104433.00000,Dec-2015,Fully Paid,major_purchase,174xx,PA,25.37000,Jun-1998,12.00000,0.00000,21929.00000,64.50000,35.00000,0.00000,6.00000,1.00000

In [137]:
data.drop(['addr_state'], axis = 1, inplace=True)

In [138]:
data.drop(['zip_code'],axis = 1 , inplace = True)

In [139]:
data = data[data['annual_inc'] <= 250000]
data = data[data['dti'] <= 50]
data = data[data['open_acc'] <= 40]
data = data[data['total_acc'] <= 80]
data = data[data['revol_util'] <= 120]
data = data[data['revol_bal'] <= 250000]

In [140]:
data = data.dropna()

## 전처리


명목형 : home_ownership , loan_status , purpose , 

순서형 : emp_length , collections_12_mths_ex_med , earliest_cr_line , issue_d


------

EDA 이후 삭제한 피처들

addr_state , pub_rec_bankruptcies

------

earliest_cr_line , issue_d 의 경우 , 현재 날짜 - 기존 날짜로 총합 계산 -> ordinalEncoding -> minmaxScaling




<계획>
날짜 피처 : earliest_cr_line , issue_d  -> ohe
명목형 : ohe
순서형 : ord

------
<br>
순서형 : ord_num
<br>
명목형 : ohe_num
<br>

------

y값(target) : 순서형 


------
이진 분류로 변경 (해도 될까 ? ): annual_inc,  pub_rec , revol_bal

In [141]:
data['earliest_cr_line'] = pd.to_datetime(data['earliest_cr_line'], format = '%b-%Y')
data['issue_d'] = pd.to_datetime(data['issue_d'],format = '%b-%Y')

In [142]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2022619 entries, 0 to 2260698
Data columns (total 19 columns):
 #   Column                      Dtype
---  ------                      -----
 0   loan_amnt                   float64
 1   int_rate                    float64
 2   installment                 float64
 3   grade                       object
 4   emp_length                  object
 5   annual_inc                  float64
 6   issue_d                     datetime64[ns]
 7   loan_status                 object
 8   purpose                     object
 9   dti                         float64
 10  earliest_cr_line            datetime64[ns]
 11  open_acc                    float64
 12  pub_rec                     float64
 13  revol_bal                   float64
 14  revol_util                  float64
 15  total_acc                   float64
 16  collections_12_mths_ex_med  float64
 17  mort_acc                    float64
 18  emp                         float64
dtypes: datetime64[ns](2), float64(13), object(4)
memory usage: 308.6+ MB

In [143]:
import pandas as pd
from datetime import datetime

data['cr_line_period'] = (datetime.now() - data['earliest_cr_line']).dt.days
data['issue_d_period'] = (datetime.now() - data['issue_d']).dt.days

In [144]:
data.drop('earliest_cr_line' , axis = 1 , inplace= True)
data.drop('issue_d' , axis= 1 , inplace= True)

In [145]:
from sklearn.preprocessing import OrdinalEncoder

ord = OrdinalEncoder()

ord_feature = ['cr_line_period' , 'issue_d_period']

data[ord_feature]= ord.fit_transform(data[ord_feature])

In [146]:
data = data[data['collections_12_mths_ex_med'] < 7]

In [147]:
data['collections_12_mths_ex_med'].value_counts()

0.00000    1987971
1.00000      32116
2.00000       2126
3.00000        247
4.00000         85
5.00000         35
6.00000         15
Name: collections_12_mths_ex_med, dtype: int64

### y값 1차 제거

In [148]:
data = data[data['loan_status'].isin(['Fully Paid', 'Charged Off' , 'Current'])]

In [149]:
emp_length_1 = {'< 1 year': 1 , '1 year': 2 , '2 years' : 3 , '3 years': 4 , '4 years' : 5 , '5 years' : 6 , '6 years' : 7 , '7 years': 8 , '8 years':9 ,'9 years': 10 , '10+ years':11}

data['emp_length'] = data['emp_length'].map(emp_length_1)

In [150]:
data['grade'].value_counts()

B    587467
C    575749
A    381286
D    282723
E    118053
F     36414
G     10378
Name: grade, dtype: int64

In [151]:
grade_1 = {'A' : 0 ,'B' : 1, 'C' : 2, 'D' : 3, 'E' : 4, 'F' : 5, 'G' : 6}

data['grade'] = data['grade'].map(grade_1)

In [152]:
data['grade'].value_counts()

1    587467
2    575749
0    381286
3    282723
4    118053
5     36414
6     10378
Name: grade, dtype: int64

In [153]:
from sklearn.preprocessing import MinMaxScaler

Mm_feature = ['emp_length', 'grade', 'collections_12_mths_ex_med' , 'cr_line_period','issue_d_period']

Mm = MinMaxScaler()

data[Mm_feature] = Mm.fit_transform(data[Mm_feature])

In [154]:
from sklearn.preprocessing import OneHotEncoder

ohe_feature = ['purpose']

ohe = OneHotEncoder()

ohe_num = ohe.fit_transform(data[ohe_feature])

In [155]:
data = data.drop(data[ohe_feature] , axis = 1)

In [156]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1992070 entries, 0 to 2260698
Data columns (total 18 columns):
 #   Column                      Dtype
---  ------                      -----
 0   loan_amnt                   float64
 1   int_rate                    float64
 2   installment                 float64
 3   grade                       float64
 4   emp_length                  float64
 5   annual_inc                  float64
 6   loan_status                 object
 7   dti                         float64
 8   open_acc                    float64
 9   pub_rec                     float64
 10  revol_bal                   float64
 11  revol_util                  float64
 12  total_acc                   float64
 13  collections_12_mths_ex_med  float64
 14  mort_acc                    float64
 15  emp                         float64
 16  cr_line_period              float64
 17  issue_d_period              float64
dtypes: float64(17), object(1)
memory usage: 288.8+ MB

In [157]:
from sklearn.preprocessing import StandardScaler

num_features = ['loan_amnt','int_rate','installment','annual_inc','dti','open_acc','pub_rec','revol_bal','revol_util','total_acc','mort_acc']

std_saller = StandardScaler()

data[num_features] = std_saller.fit_transform(data[num_features])

## y값 변환

In [158]:
data['loan_status'].value_counts()

Fully Paid     964317
Current        789948
Charged Off    237805
Name: loan_status, dtype: int64

In [159]:
data = data[data['loan_status'].isin(['Fully Paid', 'Charged Off' , 'Current'])]

In [160]:
target_1 = {'Fully Paid':0 , 'Charged Off':1 , 'Current' : 2}
data['loan_status']= data['loan_status'].map(target_1)

In [161]:
data['loan_status'].value_counts(dropna = False)

0    964317
2    789948
1    237805
Name: loan_status, dtype: int64

In [162]:
data = data.dropna()

In [163]:
data.head(5)

,loan_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,dti,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,mort_acc,emp,cr_line_period,issue_d_period
0,-1.26602,0.18945,-1.22860,0.33333,1.00000,-0.53027,0,-1.45508,-0.84896,-0.34363,-0.76125,-0.85276,-0.95117,0.00000,-0.28341,1.00000,0.20082,0.44444
1,1.05257,-0.22526,1.41137,0.33333,1.00000,-0.27777,0,-0.27668,1.87487,-0.34363,0.30680,-1.28131,1.18096,0.00000,1.31303,1.00000,0.26093,0.44444
2,0.53611,-0.47617,-0.05626,0.16667,1.00000,-0.32827,0,-0.88968,-1.03055,-0.34363,-0.46982,0.22882,-0.52474,0.00000,1.84518,1.00000,0.25000,0.44444
3,2.18439,0.36778,1.44780,0.33333,1.00000,0.85848,2,-0.16058,0.24057,-0.34363,-0.47364,-1.59150,-0.61003,0.00000,-0.28341,1.00000,0.11749,0.44444
4,-0.51880,1.94370,-0.59675,0.83333,0.30000,0.71791,0,0.80421,0.05898,-0.34363,0.33301,0.56758,0.92510,0.00000,2.37733,1.00000,0.28552,0.44444

## 모든 데이터 합치기

In [164]:
from scipy import sparse

data_sparse = sparse.hstack([sparse.csr_matrix(data),
                               ohe_num
                               ],
                               
                               format = 'csr')

In [167]:
y = data['loan_status']

In [168]:
data = data.drop('loan_status' , axis = 1)

In [169]:
num_train = len(data)

X_train = data_sparse[:num_train]
X_test = data_sparse[num_train :]

In [170]:
from sklearn.model_selection import train_test_split

X_train , X_valid, y_train, y_valid = train_test_split(X_train, y, 
                                                       test_size=0.2, 
                                                       random_state=42 , 
                                                       stratify = y)

## 모델 훈련

In [171]:
from sklearn.linear_model import LogisticRegression
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline 


pipeline = make_pipeline(
    SimpleImputer(strategy='most_frequent'),
    LogisticRegression(max_iter=1000, random_state=42)    
)

pipeline.fit(X_train, y_train)

Pipeline(steps=[('simpleimputer', SimpleImputer(strategy='most_frequent')),
                ('logisticregression',
                 LogisticRegression(max_iter=1000, random_state=42))])

In [172]:
# from sklearn.metrics import roc_auc_score


y_valid_preds = pipeline.predict(X_valid)

# 'multi_class' 매개변수를 'ovo' 또는 'ovr'로 설정
#roc_auc = roc_auc_score(y_valid, y_valid_preds, multi_class='ovr')

#print(f"검증 데이터 ROC AUC : {roc_auc :.4f}" )

In [173]:
from sklearn.metrics import classification_report

print(classification_report(y_valid , y_valid_preds))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00    192863
           1       1.00      1.00      1.00     47561
           2       1.00      1.00      1.00    157990

    accuracy                           1.00    398414
   macro avg       1.00      1.00      1.00    398414
weighted avg       1.00      1.00      1.00    398414

In [174]:
y.value_counts(sort= False)

0    964317
2    789948
1    237805
Name: loan_status, dtype: int64

In [175]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

rfc = RandomForestClassifier(n_estimators= 100, max_depth= 5, random_state = 0)
rfc.fit(X_train , y_train)

predict1 = rfc.predict(X_valid)
print(classification_report(y_valid , predict1))

              precision    recall  f1-score   support

           0       0.99      1.00      0.99    192863
           1       1.00      0.73      0.84     47561
           2       0.94      1.00      0.97    157990

    accuracy                           0.97    398414
   macro avg       0.97      0.91      0.93    398414
weighted avg       0.97      0.97      0.97    398414

In [176]:
from imblearn.under_sampling import RandomUnderSampler
from collections import Counter


print(f"원본 데이터 클래스 분포 : {Counter(y_train)}")

rus = RandomUnderSampler(random_state=42)
X_resampled, y_resampled = rus.fit_resample(X_train, y_train)

print(f"랜덤 언더 샘플링 후 클래스 분포 : {Counter(y_resampled)}" )

원본 데이터 클래스 분포 : Counter({0: 771454, 2: 631958, 1: 190244})
랜덤 언더 샘플링 후 클래스 분포 : Counter({0: 190244, 1: 190244, 2: 190244})

In [177]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

rfc = RandomForestClassifier(n_estimators= 100, max_depth= 3 , random_state = 0)
rfc.fit(X_resampled , y_resampled)

predict1 = rfc.predict(X_valid)
print(classification_report(y_valid , predict1))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00    192863
           1       0.78      0.94      0.85     47561
           2       0.98      0.92      0.95    157990

    accuracy                           0.96    398414
   macro avg       0.92      0.95      0.93    398414
weighted avg       0.97      0.96      0.96    398414

In [178]:
def print_score(y_true, y_pred, train=True):
    from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
    if train:
        print("Train Result:")
    else:
        print("Test Result:")
    
    print(f"Accuracy: {accuracy_score(y_true, y_pred):.4f}")
    print(f"Precision: {precision_score(y_true, y_pred, average='weighted'):.4f}")
    print(f"Recall: {recall_score(y_true, y_pred, average='weighted'):.4f}")
    print(f"F1 Score: {f1_score(y_true, y_pred, average='weighted'):.4f}")

In [179]:
y_train_pred = rfc.predict(X_train)
y_valid_pred = rfc.predict(X_valid)

print_score(y_train, y_train_pred, train=True)
print_score(y_valid, y_valid_pred, train=False)

Train Result:
Accuracy: 0.9602
Precision: 0.9652
Recall: 0.9602
F1 Score: 0.9615
Test Result:
Accuracy: 0.9606
Precision: 0.9655
Recall: 0.9606
F1 Score: 0.9618

   "resampled_train = pd.DataFrame(oss_4c_train, columns = ['쓴', '컬럼들', '다'])

In [ ]:
X_resampled

<570732x32 sparse matrix of type '<class 'numpy.float64'>'
	with 9939771 stored elements in Compressed Sparse Row format>

In [182]:
y_resampled

0         0
1         0
2         0
3         0
4         0
         ..
570727    2
570728    2
570729    2
570730    2
570731    2
Name: loan_status, Length: 570732, dtype: int64

'Fully Paid':0 , 
<br>
'Current':1 ,
<br>
'Charged Off':2, 
<br>

모델 성능 지표에 대한 개인적인 생각
- p2p 대출자들의 신용 평가 및 대출자들의 연체율을 예측하는 경우 , recall이 높은게 유리하다.
- 실제로 연체된 대출자들을 놓치지 않는 것이 중요하기 때문이다.


- 언더 샘플링 이후에도 클래스 불균형이 해소 되지 않음. 따라서 임의로 클래스 병합 및 'Current' 클래스 제거

In [ ]:
f3 = pd.read_csv('Multi_3_train.csv')

f3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2003513 entries, 0 to 2003512
Data columns (total 16 columns):
 #   Column                      Dtype
---  ------                      -----
 0   loan_amnt                   float64
 1   int_rate                    float64
 2   installment                 float64
 3   grade                       float64
 4   emp_length                  float64
 5   annual_inc                  float64
 6   loan_status                 float64
 7   dti                         float64
 8   open_acc                    float64
 9   pub_rec                     float64
 10  revol_bal                   float64
 11  revol_util                  float64
 12  total_acc                   float64
 13  collections_12_mths_ex_med  float64
 14  mort_acc                    float64
 15  emp                         float64
dtypes: float64(16)
memory usage: 244.6 MB

In [191]:
f3.head()

,loan_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,dti,open_acc,pub_rec,revol_bal,revol_util,total_acc,collections_12_mths_ex_med,mort_acc,emp
0,-1.26681,0.18640,-1.22922,0.33333,1.00000,-0.53059,0.00000,-1.45503,-0.84876,-0.34383,-0.76125,-0.85312,-0.95057,0.00000,-0.28285,1.00000
1,1.05026,-0.22781,1.40875,0.33333,1.00000,-0.27817,0.00000,-0.27706,1.87432,-0.34383,0.30694,-1.28160,1.18123,0.00000,1.31445,1.00000
2,0.53414,-0.47840,-0.05777,0.16667,1.00000,-0.32866,0.00000,-0.88984,-1.03030,-0.34383,-0.46977,0.22830,-0.52421,0.00000,1.84688,1.00000
3,2.18134,0.36450,1.44514,0.33333,1.00000,0.85772,0.00000,-0.16100,0.24047,-0.34383,-0.47360,-1.59175,-0.60948,0.00000,-0.28285,1.00000
4,-0.52007,1.93847,-0.59785,0.83333,0.30000,0.71720,0.00000,0.80343,0.05893,-0.34383,0.33315,0.56701,0.92542,0.00000,2.37931,1.00000